.seccionHeader{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 2px solid gray;
}
.footer{
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    border: 2px solid gray;
}

.limiteSeccion{
    border: 2px solid gray;
    /* height: 200px; */
}

.limiteFooter{
    border: 2px solid gray;
}

.seccion1{
    display: flex;
    justify-content: center;
}

.displayDiv1{
    border: 2px solid green;
    display: grid;
    grid-column: auto;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    justify-content: center;
    padding: 50px;
    margin: 10px;
}

.alineacionCentrada{
    align-content: center;
}

.displayFinal{
    display: flex;
    justify-content: flex-end;
}
